# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# =========================
# Virtual environments
# =========================
venv/
.env/
.env.*
.venv/
.env

# =========================
# Flask
# =========================
instance/
*.sqlite
*.db

# =========================
# Migrations
# =========================
migrations/versions/__pycache__/

# =========================
# Logs
# =========================
*.log

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Secrets
# =========================
.env.local
.env.production

# =========================
# Uploads / Media
# =========================
uploads/
